---
import Layout from '@/layouts/LayoutNoIndex.astro'
---

<Layout basic={true}>
  <div class='grid content-center h-screen'>
    <a href='/' class='text-center'>
      <img
        src='404.webp'
        alt='404'
        class='rounded-full m-auto max-w-lg w-full'
      />
    </a>
  </div>
</Layout>
