---
import Resume from '@/components/Resume.astro'
import Layout from '@/layouts/Layout.astro'
import Ball from '@/components/Ball.astro'
import Name from '@/components/Name.astro'
import Follow from '@/components/Follow.astro'
import Description from '@/components/Description.astro'
import GHContributions from '@/components/GHContributions.astro'
import Medium from '@/components/Medium/index.astro'
---

<Layout>
  <section
    class='lg:pt-14 px-8 text-gray-900 text-white bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] from-[#2e409a] to-[#050133] min-h-dvh grid items-center justify-center pixelin'
    id='start'
  >
    <div class='max-w-3xl pt-16 pb-12 md:px-8 z-10 relative'>
      <Name />
      <Description />
    </div>
  </section>
  <Resume />
  <Medium />
  <GHContributions />
  <Follow />

  <Ball />
</Layout>
