---
import Layout from '@/layouts/Layout.astro'
import ResourcesList from '@/components/Resources/ResourcesList.astro'
---

<Layout title='Useful Links' description='Useful links for developers'>
  <div class='flex min-h-screen'>
    <div
      class='max-w-5xl mx-4 md:mx-auto pb-12 md:px-8 m-auto gap-4 flex flex-col'
    >
      <ResourcesList />
    </div>
  </div>
</Layout>
