---
import { Image } from 'astro:assets'
import mePic from '../assets/me-memoji.webp'
import JobTitltes from '@/components/JobTitltes.astro'
const { pathname } = Astro.url
---

<div class='flex flex-col justify-start' id='name'>
  <div class='flex flex-col-reverse md:flex-row md:items-end'>
    <h1
      class='pb-1 text-4xl md:text-7xl animated-background font-black bg-gradient-to-br from-[#ffff99] via-[#ff7758] to-[#f00f7c] inline-block text-transparent bg-clip-text font-sans relative z-20'
    >
      Hola! <br />
      Soy Nico Masnovo
    </h1>
    <JobTitltes />
  </div>
</div>

<style>
  .animated-background {
    background-size: 200%;

    animation:
      bg 3s ease infinite,
      fall 2s ease 0s 1 normal forwards;
  }

  .zoomIn {
    opacity: 0;
    animation: zoomIn 1.4s forwards;
    animation-delay: 2s;
  }

  @keyframes bg {
    0%,
    100% {
      background-position: 0% 0%;
    }

    50% {
      background-position: 100% 100%;
    }
  }

  @keyframes fall {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-250px);
    }

    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0);
    }

    55% {
      animation-timing-function: ease-in;
      transform: translateY(-65px) rotate(2deg);
    }

    72% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }

    81% {
      animation-timing-function: ease-in;
      transform: translateY(-28px) rotate(-3deg);
    }

    90% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }

    95% {
      animation-timing-function: ease-in;
      transform: translateY(-8px);
    }

    100% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  }

  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.1);
    }

    50%,
    100% {
      opacity: 1;
    }
  }
</style>
